{% extends 'toko_app/base.html' %}
{% load static %}

{% block content %}

<div class="row mt-3">
    <div class="col-md-6 col-lg">
        <div class="dropdown d-flex">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Urutkan
            </button>
            <form action="" class="d-flex ml-3">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg">
        <a href="" class="btn btn-danger float-right">Hapus Barang</a>
        <a href="" class="btn btn-success float-right mr-2">Tambah Barang</a>
    </div>
</div>

<!-- table barang -->
<table class="table mt-2 table-hover ">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nama barang</th>
            <th scope="col">Harga</th>
            <th scope="col">Dilihat</th>
            <th scope="col">Aksi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <form action="" class="form-inline">
                    <input type="checkbox">
                </form>
            </th>
            <td><img src="{% static 'toko_app/img/item3.jpeg' %}" alt="" class="img-thumbnail"></td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td><a href="" class="btn btn-success">Update</a> <a href="" class="btn btn-danger">Hapus</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>

<footer class="d-flex justify-content-between mt-5 mb-5 ">
    <div>Copyright &copy; Dayak.com 2020. All rights reserved.</div>
    <div>
        <a href="#">Tentang</a> &middot;
        <a href="#">Kontak</a> &middot;
        <a href="#">Bantuan</a>
    </div>
</footer>

{% endblock %}