{% extends 'toko_app/base.html' %}
{% load static %}
{% block content %}
<div class="row mt-3">
    <div class="col-lg-12">
        <h1>Tambah barang</h1>
    </div>
</div> 
<div class="row">
    <div class="col-lg-12">
        <form class="mt-3" method="POST" enctype="multipart/form-data" action="{% url 'tambah-barang' %}">
            {% csrf_token %}
            <div class="form-group row" style="display: none;">
                <label for="gambar" class="col-sm-2 col-form-label">Gambar</label>
                <div class="col-sm-10 input-banyak">
                    {{ form.gambar.errors }}
                    {{ form.gambar }}
                    {{ formset.management_form }}
                    {% for forms in formset %}
                        {{forms}} 
                        <!-- <input type="file" class="coba">
                        <input type="file" class="coba">
                        <input type="file" class="coba">
                        <input type="file" class="coba"> -->
                    {% endfor %}
                </div>
            </div>
            <div class="form-group row ">
                <label for="gambars" class="col-sm-2 col-form-label">Gambar</label>
                <div class="col-sm-10 foto-banyak">
                    <img src="{% static 'toko_app/img/index.png' %}" alt="" width="100px" height="100px">
                    <img src="{% static 'toko_app/img/index.png' %}" alt="" width="100px" height="100px" id="gambar">
                    <img src="{% static 'toko_app/img/index.png' %}" alt="" width="100px" height="100px" id="gambar">
                    <img src="{% static 'toko_app/img/index.png' %}" alt="" width="100px" height="100px" id="gambar">
                    <img src="{% static 'toko_app/img/index.png' %}" alt="" width="100px" height="100px" id="gambar">
                </div>
            </div>
            <div class="form-group row">
                <label for="nama" class="col-sm-2 col-form-label">Nama</label>
                <div class="col-sm-10">
                    {{ form.nama_barang.errors }}
                    {{ form.nama_barang }}
                </div>
            </div>
            <div class="form-group row">
                <label for="harga" class="col-sm-2 col-form-label">Harga</label>
                <div class="col-sm-10">
                    {{ form.harga.errors }}
                    {{ form.harga }}
                </div>
            </div>
            <div class="form-group row">
                <label for="kategori" class="col-sm-2 col-form-label">Kategori</label>
                <div class="col-sm-10">
                    {{ form.kategori.errors }}
                    {{ form.kategori }}
                </div>

            </div>
            <div class="form-group row">
                <label for="harga" class="col-sm-2 col-form-label">Deskripsi</label>
                <div class="col-sm-10">
                    {{ form.deskripsi }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success">Tambah</button>
                    <a href="{% url 'daftar-barang' %}" class="btn btn-danger">Batal</a>
                </div>
            </div>
        </form>
    </div>


    <footer class="d-flex justify-content-between mt-5 mb-5 ">
        <div>Copyright &copy; Dayak.com 2020. All rights reserved.</div>
        <div>
            <a href="#">Tentang</a> &middot;
            <a href="#">Kontak</a> &middot;
            <a href="#">Bantuan</a>
        </div>
    </footer>
</div>


<script src="{% static 'toko_app/js/tambah-barang.js' %}"></script>
{% endblock content %}
