{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'toko_app/css/update_barang.css' %}">
    <link rel="stylesheet" href="{% static 'toko_app/css/select2.min.css' %}">
    <title>tambah-barang</title>
</head>

<body>
    <nav>
        <div class="bar">
            <a href="">
                <img src="" alt="">
                <a href="{% url 'index' %}">DAYAK</a>
            </a>

            <form action="">
                <input type="text" name="cari" placeholder="cari">
                <button type="submit">cari</button>
            </form>

            <a href="">Login</a>
        </div>
    </nav>


    <div class="form">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Tambah barang</h1>
            <!-- <div class="foto">
                <label for="foto">*Foto</label>
                {{ form.gambar }}
                {{ formset.management_form }}
                {% for f in formset %}
                    {{ f.image }}
                {% endfor %}
            </div>
            <div class="foto-banyak">
                <label for="foto">++</label>
                <img src="" alt="" width="100px" height="100px">
            </div> -->
            <div class="input-banyak">
                <label for="foto">*Foto</label>

                <div style="display: none;">
                    {{ form.gambar}}
                </div>
                <!-- {{ formset.management_form }}
                {% for f in formset %}
                {{ f.image }}
                {% endfor %} -->
            </div>
            <div class="foto-banyak">
                <label for="foto">++</label>
                <img src="" alt="" width="100px" height="100px" onclick="klik()">
                <img src="" alt="" width="100px" height="100px" >
                <img src="" alt="" width="100px" height="100px">
                <img src="" alt="" width="100px" height="100px">
            </div>
            <div class="nama">
                <label for="foto">*Nama</label>
                {{ form.nama_barang }}
            </div>
            <div class="harga">
                <label for="harga">*Harga</label>
                {{ form.harga }}
            </div>
            <div class="kategori">
                <label for="kategori">*Kategori</label>
                {{ form.kategori }}
            </div>
            <div class="deskripsi">
                <label for="foto">*Deskripsi</label>
                {{ form.deskripsi }}
                <!-- <textarea name="" id="" cols="96" rows="10"></textarea> -->
            </div>

            <button type="submit">tambah barang</button>
            <a href="">Batal</a>
        </form>
    </div>


    <script src="{% static 'toko_app/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'toko_app/js/select2.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
    </script>
    <script>
            const link = document.querySelector(".input-banyak a").href;
            const img = document.querySelector(".foto-banyak img");
            const img2 = document.querySelector(".foto-banyak img");
            img.src = link;
            const input = document.querySelector(".input-banyak input")
            function klik(){
                input.click();
            }
    </script>
</body>

</html>